body {
	background-image:url(http://subtlepatterns.com/patterns/dark_wall.png);
	border: 3px ridge rgba(60,142,238,0.5);
	padding-top:100px;
	font-family: 'Slabo 27px', serif;
}

* {
    box-sizing: border-box;
}

form > div {
	margin: 2em 2em 5em 2em;
	font-size: 3em;
}
.name *{
	display:inline-block;
	max-width:450px;
}




